@use "variables" as *;

* {
    list-style: none;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

body {
    text-align: center;
}

button {
    font-family: $headingFont;
    background-color: $greenAccent;
    text-transform: uppercase;
    border: 0.2em solid $greenAccent;
    padding: 0.5em 2.5em;
    display: inline-block;
    transition: 0.3s;
}

button:hover,
button:focus {
    background-color: $yellowAccent;
    border: 1px solid $yellowAccent;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display SC', serif;
    font-weight: $fwHeading;
}

@media (min-width: 600px) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        display: block;
        position: absolute;
        top: 3em;
        right: 3em;

    }

    /*Convert to Rem*/
    @mixin fontSize($sizeValue) {
        font-size: $sizeValue * 1px;
        font-size: ($sizeValue/16) * 1rem;
    }

    h1 {
        @include fontSize(138);
    }

    h2 {
        @include fontSize(70);
    }

    h3 {
        @include fontSize(42);
    }

    h4 {
        @include fontSize(42);
    }

    p,
    button,
    nav {
        @include fontSize(20);
    }

}