@use "variables" as *;

//Adjust Blog Image sizes on Mobile//
img.blogHeader {
    margin: 0 auto;
    height: 50vh;
    width: 90%;
    object-fit: cover;
    margin-bottom: 1em;
}

//Adjust H1 header//
.heading {
    position: relative;
}

.blog {
    position: absolute;
    bottom: 1em;
    right: 0em;
    width: 100%;
    margin: 0;
    text-align: center;
}

img.postImage,
img.sideImage {
    margin: 0 auto;
    width: 90%;
    height: 30vh;
    object-fit: cover;
}

//Blog Column One//

.blogColumnOneText a {
    text-decoration: none;
    color: $primary;
}

.list {
    padding-left: 1em;
}

.list li {
    list-style: disc;
    color: $greenAccent;
    font-size: 0.8em;
    padding-left: 1em;
}

.list a {
    font-size: $fsBody;
}


// Form Section//
form {
    border: none;
}


input {
    border: none;
    background-color: $lightAccent;
    border-bottom: 2px solid $greenAccent;
}

textarea {
    border: none;
    background-color: $lightAccent;
    border: 2px solid $greenAccent;
}


.name,
.email,
textarea {
    margin-bottom: 2em;
}

input#name,
input#email {
    width: 90%;
}

fieldset {
    border: none;
}

button {
    margin-bottom: 3em;
}

input#name,
input#email,
textArea {
    padding: 1em;
    font-size: $fsBody;
    color: $primary;
}

textArea {
    resize: none;
}

.comment img {
    display: auto;
}

@media (min-width: 600px) {

    //Overall blog styles//
    .blogPost {
        background-color: $lightAccent;
    }

    .blogPost {
        padding: 0;
        text-align: left;
        display: flex;
    }

    //H1 Heading//

    .blog {
        position: absolute;
        z-index: 10;
        bottom: 3em;
        padding: 0;
    }

    p {
        text-align: left;
    }

    //Blog Column One//

    .blogColumnOneText h4 {
        margin-bottom: 0;
    }

    .blogColumnOneText {
        display: flex;
        flex-direction: column;
    }

    .blogColumnOne {
        width: 35%;
    }

    .blogColumnTwo {
        width: 65%;
    }

    .blogColumnOne,
    .blogColumnTwo {
        display: flex;
        flex-direction: column;
        line-height: $lhBody;
    }

    .blogColumnOne {
        align-items: flex-end;
    }

    //Side Image Blog//
    img.sideImage {
        margin: 0;
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    // Side Image Blog Column One 

    .imageContainerOne {
        position: relative;
        right: 4em;
    }


    .blogColumnOne {
        background-color: $lightAccent;
        margin-top: 7em;
    }

    .blogColumnOneText {
        background-color: $secondary;
        width: 68%;
        margin-right: 3em;
        padding: 0 1em 1em 1em;
    }

    //Main Blog Post - Column2//

    img.blogHeader {
        width: 100%;
        margin-bottom: 0;
    }

    .blogColumnTwoText {
        display: flex;
        flex-direction: column;
        padding-left: 3em;
        border-bottom: 5px solid $yellowAccent;
        border-left: 5px solid $yellowAccent;
    }


    .blogColumnTwoText p {
        margin-bottom: 2em;
    }

    .blogColumnTwoText h2 {
        margin-bottom: 0;
        line-height: $lhH2;
    }

    .date {
        margin-top: 0;
    }

    .blogColumnTwoText,
    .comments {
        margin-right: 5em;
    }

    img.postImage {
        object-fit: cover;
        width: 100%;
        height: auto;
        max-width: 100%;
        margin-left: 1.3em;
        margin-top: -250px;
        position: relative;
    }

    //Yellow Box Shadow//
    img.postImage {
        display: block;
        bbox-shadow: -23px 20px 5px 0px rgba(253, 250, 105, 1);
        -webkit-box-shadow: -23px 20px 5px 0px rgba(253, 250, 105, 1);
        -moz-box-shadow: -23px 20px 5px 0px rgba(253, 250, 105, 1);
        right: 0;
    }

    //Comment Section//
    .comments {
        padding-left: 3em;
    }

    .comment {
        display: flex;
        flex-direction: column;
    }

    span {
        display: block;
    }

    .commentOne,
    .commentTwo {
        display: flex;
    }

    .commentOne img,
    .commentTwo img {
        object-fit: contain;
        margin: 0;
    }

    .textComment p {
        margin: 0;
        padding-left: 2em;
        margin-bottom: 5em;
    }
}

@media (min-width: 800px) {
    .blog {
        display: none;
    }
}

@media (min-width: 1000px) {
    //Form Section

    .blog {
        display: inline;
    }

    form {
        padding-left: 3em;
        margin-right: 5em;
    }

    textarea {
        margin-bottom: 2em;
    }

    .formRowOne {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
    }

    .name,
    .email {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .email {
        margin-left: 2em;
    }

    form button {
        width: 100%;
        padding: 0.2em;
    }


}