@use "./variables" as *;

footer {
    color: $secondary;
    background-color: $primary;
    padding: 0.1em;
}

footer p {
    margin: 0;
    padding: 0.2em;
    font-family: $bodyFont;
    text-align: center;
}