@use "./variables" as *;

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

img.firstImage {
    width: 100%;
    height: 50vh;
    display: block;
    object-fit: cover;
    object-position: 30% top;
}

img.secondImage {
    display: none;
}

//H1 Heading//

.headerImage {
    position: relative;
}

.homeHeading {
    position: absolute;
    top: 6em;
    width: 100%;
    margin: 0;
}

@media(min-width: 450px) {
    .homeHeading {
        top: 8em;
    }
}

@media (min-width: 600px) {
    img.secondImage {
        display: none;
    }

    img.firstImage {
        height: 50vh;
    }

    h2 {
        font-size: 3rem;
    }

    .homeHeading {
        top: 5em;
    }
}

@media (min-width: 1000px) {


    .headerImage {
        display: flex;
    }

    img.firstImage {
        height: auto;
    }

    img.secondImage {
        display: block;
        position: absolute;
        border-top: 30px solid #fdfa69;
        border-bottom: 30px solid #fdfa69;
        border-left: 25px solid #fdfa69;
        right: 0;
        top: 9em;
    }

    .homeHeading {
        right: 0.1em;
        margin: 0;
    }
}