@use "./variables" as *;

@media (min-width: 1000px) {

    /* all of our styles for smaller DESKTOP devices will go within this breakpoint */

}

@media (min-width: 600px) {
    .wrapper {
        width: 90%;
    }

    ul.navMenu {
        display: flex;
        flex-direction: row;
    }

    .topNav li a {
        margin-right: 1em;
    }

    img.secondImage {
        display: block;
        position: absolute;
        border: 50px solid $yellowAccent;
        right: 1em;
        top: 4em;
    }



    h1 {
        display: block;
        position: absolute;
        top: 2em;
        right: 4em;

    }

    /*Convert to Rem*/
    @mixin fontSize($sizeValue) {
        font-size: $sizeValue * 1px;
        font-size: ($sizeValue/16) * 1rem;
    }

    h1 {
        @include fontSize(138);
    }

    h2 {
        @include fontSize(70);
    }

    h3 {
        @include fontSize(42);
    }

    h4 {
        @include fontSize(42);
    }

    p,
    button,
    nav {
        @include fontSize(20);
    }

    .icon {
        padding: 4em;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .headerImage {
        display: flex;
    }

    img.firstImage {
        height: auto;
    }

    .sectionOne h2 {
        margin-top: 4em;

        /* all of our styles for TABLET devices will go within this breakpoint */
    }

    .rowOne,
    .rowTwo {
        display: flex;
        flex-direction: row;
    }

    .productImageOne,
    .productTextOne,
    .productImageTwo,
    .productTextTwo {
        width: 50%;
    }

    .productImageOne {
        margin-right: 10em;
    }

    .productImageTwo {
        margin-left: 10em;
    }

    .productImageOne img {
        margin: 0;
    }

    .productTextOne {
        text-align: left;
    }

    .productTextTwo {
        order: -1;
    }

    .productTextTwo {
        text-align: right;
    }

    .productImageOne img,
    .productImageTwo img {
        height: 80%;
    }

    .iconRowOne,
    .iconRowTwo {
        display: flex;
        text-align: left;
    }

    .images {
        display: flex;
        flex-direction: row;
        gap: 2em;
        justify-content: center;
        width: 100%;
        padding: 4em 0;
    }

    .featured {
        display: flex;
        background-color: $lightAccent;
    }

    .flexFeatured {
        text-align: left;
        margin-left: 6em;
    }

    img.galleryOne,
    img.galleryTwo,
    img.galleryThree {
        flex-basis: 33%;
        height: 100%;
    }
}


// @media (min-width: 500px) {}

// // // ul.navMenu {
// // //     display: flex;
// // //     flex-direction: row;
// // }

// /* all of our styles for MOBILE devices will go within this breakpoint */