@use "variables" as *;

.topNav {
    position: absolute;
    top: 1em;
    right: 4em;
}

.topNav,
.mobileMenu {
    li {
        list-style: none;

        a {
            color: $primary;
            padding: .2em;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    border-bottom: 2px solid $greenAccent;

}

.hamburgerIcon {
    color: $primary;
    font-size: 3rem;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 10;

}

.hamburger {
    position: relative;
}

.mobileMenu {
    position: absolute;
}

.mobileNavMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10em;
    margin-bottom: 3em;
    background-color: $yellowAccent;
    position: fixed;
    height: 30vh;
    width: 100%;
    transition: .5s;

}

.mobileMenu li {
    padding: 1em;
}

.none {
    display: none;
}

@media (min-width: 800px) {

    .headerImage {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    ul.navMenu {
        display: flex;
        flex-direction: row;
    }

    .topNav li a {
        margin-right: 1em;
    }

    .mobileNavMenu {
        width: 800px;
    }
}

@media (max-width: 800px) {
    .navMenu {
        display: none;
    }
}