@use "variables" as *;

//Section One -What is Captured?//
.sectionOne,
.icon,
.featured {
    background-color: $lightAccent;
}

.sectionOne h2 {
    margin: 0em auto;
}

.sectionOne,
.blog {
    padding: 4em;
}

@media (min-width: 600px) {
    .sectionOne h2 {
        margin-top: 2em;
    }
}