@use "variables" as *;

//Section One -What is Captured?//
.sectionOne,
.icon,
.featured {
    background-color: $lightAccent;
}

.sectionOne h2 {
    margin: 0em auto;
}

.sectionOne {
    padding-top: 2em;
}

@media (min-width: 600px) {
    .sectionOne h2 {
        margin-top: 2em;
    }

    .sectionOne,
    .blog {
        padding: 4em;
    }
}